<div class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h2>Reset Password</h2>

    

    <!-- Password Field -->
    <div class="form-group">
      <label for="password">Password:</label>
      <input id="password" formControlName="password" type="password" class="form-control" required autocomplete="new-password" />
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error-message">
        Password must be at least 6 characters long.
      </div>
    </div>

    <!-- Confirm Password Field -->
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" required autocomplete="new-password" />
      <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched" class="error-message">
        Passwords must match.
      </div>
    </div>

    <!-- Button Group -->

    <button type="submit" class="btn btn-primary w-100" [disabled]="registerForm.invalid">Reset Password</button>

  </form>
</div>
