<div class="hero-section set-bg" [style.backgroundImage]="'url(/assets/img/Vary-your-cardio-1.jpg)'">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="hero-text" style="position: absolute; top: 50%; left: 50%; transform: translate(-60%, -87%); color: white; font-size:20px">
          <h2 style="color: white; font-size: 50px;">Gyms</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gyms Section Begin -->


<div class="classes-section spad">
  <div class="container">
    <div class="row gym-cards-container">
      <div class="col-lg-4 col-md-6" *ngFor="let item of allGyms">
        <div class="single-classes-item gymSingle card shadow-sm">
          <div class="gym-card-image">
            <img src="https://localhost:44325/api/RecipeCategory/getImage/{{item.imagePath}}" alt="Gym Image" class="img-fluid">
          </div>
          <div class="gym-card-body gymBody p-3">
            <h4>{{item.name}}</h4>
            <p class="gym-description">{{item.description}}</p>
            <div class="gym-type">
              <strong>Type: </strong>
              <span>{{item.isMixed ? 'Mixed' : 'Separate'}}</span>
            </div>
            <!-- Button to go to gym details -->
            <a routerLink="/singleGym/{{item.id}}" class="btn btn-primary mt-3">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Gyms Section End -->
