<!--<div class="container mt-5">
  <h2>Healthy Recipes</h2>
  <div class="row">
    <div class="col-md-4" *ngFor="let recipe of recipes">
      <div class="card mb-4 shadow-sm">
        <img [src]="recipe.image" class="card-img-top" alt="{{ recipe.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ recipe.name }}</h5>
          <p class="card-text">{{ recipe.description }}</p>
          <p class="text-muted">Calories: {{ recipe.caloriesCount }}</p>
          <button class="btn btn-primary" (click)="viewRecipeDetails(recipe.id)">View Details</button>
        </div>
      </div>
    </div>
  </div>
</div>-->
