<div class="container-fluid">
  <div class="main-body">
    <div class="row gutters-sm">
      <div class="col-md-4 mb-3">
        <div class="sidebar text-center">
          <div class="text-center" *ngIf="userProfile">
            <img src="https://localhost:7280/api/UserProfile/getImages/{{userProfile?.image }}" alt="Profile Picture" class="rounded-circle" style="width: 50px; height: 50px;">
            <h4>{{ userProfile?.username }}</h4>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h6 class="mb-3">User Information</h6>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Full Name</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ userProfile?.name }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Username</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ userProfile?.username }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Email</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ userProfile?.email }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Phone</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ userProfile?.phoneNumber }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">City</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ userProfile?.city }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <h6 class="mb-0">Street</h6>
              </div>
              <div class="col-sm-9 text-secondary">
                {{ userProfile?.street }}
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-12">
                <button class="btn btn-primary" [routerLink]="['/edit-profile', userProfile?.id]">Edit</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Subscription Table -->
        <div class="profile-container">
          <div class="card">
            <div class="card-body">
              <h6 class="mb-3">User Subscriptions</h6>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Subscription ID</th>
                    <th>Service Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sub of userSubscriptions">
                    <td>{{ sub.id }}</td>
                    <td>{{ sub.name }}</td>
                    <td>{{ sub.startDate }}</td>
                    <td>{{ sub.endDate }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="card mt-4">
            <div class="card-body">
              <h6 class="mb-3">User Orders</h6>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Order ID</th>
                    <th>Product Name</th>
                    <th>Status</th>
                    <th>Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let order of userOrders">
                    <td>{{ order.id }}</td>
                    <td>{{ order.productName }}</td>
                    <td>{{ order.status }}</td>
                    <td>{{ order.date }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
</div>
      </div>
    </div>
  </div>

