

  <div class="container-fluid">
    <!-- Use container-fluid for full width -->
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="sidebar text-center">
            <div class="d-flex flex-column align-items-center">
              <img src="https://as2.ftcdn.net/v2/jpg/04/94/87/27/1000_F_494872791_Sietp2QieyDuZIIk296WFgKMk7OHKOQU.jpg" alt="Admin" class="rounded-circle">
              <h4>rawaaah63</h4> <!-- Displaying username -->
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card">
            <div class="card-body">
              <h6 class="mb-3">User Information</h6>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  Kenneth Valdez
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Username</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  rawaah63
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
             
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  Bay Area, San Francisco, CA
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  <a class="btn btn-info" target="__blank" href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Edit</a>
                </div>
              </div>
            </div>
          </div>

          <!-- Subscription Table -->
          <div class="card">
            <div class="card-body">
              <h6 class="mb-3">User Subscriptions</h6>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Subscription ID</th>
                    <th>Service Name</th>
                    <th>Start Date</th>
                    <th>End Date</th>
             
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Gym Service</td>
                    <td>2024-01-01</td>
                    <td>2024-12-31</td>
                 
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Yoga Service</td>
                    <td>2024-02-01</td>
                    <td>2024-08-01</td>
           
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Swimming Service</td>
                    <td>2024-03-01</td>
                    <td>2024-09-01</td>
                  
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

