<h2 class="text-center mb-4 custom-heading">Add New Product</h2>
<form (ngSubmit)="createProduct()" enctype="multipart/form-data">
  <table class="form-table table table-bordered">
    <tr>
      <td><label for="name">Name:</label></td>
      <td><input id="name" [(ngModel)]="newProduct.name" name="name" required class="form-control" /></td>
    </tr>
    <tr>
      <td><label for="description">Description:</label></td>
      <td><input id="description" [(ngModel)]="newProduct.description" name="description" required class="form-control" /></td>
    </tr>
    <tr>
      <td><label for="price">Price:</label></td>
      <td><input id="price" type="number" [(ngModel)]="newProduct.price" name="price" required class="form-control" /></td>
    </tr>
    <tr>
      <td><label for="categoryId">Category:</label></td>
      <td>
        <select id="categoryId" [(ngModel)]="newProduct.categoryId" name="categoryId" required class="form-control">
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </td>
    </tr>
    <tr>
      <td><label for="image">Upload Image:</label></td>
      <td><input id="image" type="file" (change)="onFileSelected($event)" class="form-control-file" /></td>
    </tr>
    <tr>
      <td colspan="2" class="text-center">
        <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Update' : 'Create' }}</button>
      </td>
    </tr>
  </table>
</form>
<app-admin></app-admin>
