.table img {
  max-width: 100px;
  max-height: 100px;
}

.table td {
  vertical-align: middle;
}
table caption {
  caption-side: top; /* هذا يضمن أن الـ <caption> يظهر في أعلى الجدول */
  font-size: 3rem; /* حجم الخط */
  font-weight: bold; /* لجعل النص عريضًا */
  margin-bottom: 10px; /* المسافة بين الـ <caption> والجدول */
}
app-header {
  display: none !important;
}

  app-header header,
  app-header header .container-fluid,
  app-header header .inner-header,
  app-header header .row {
    display: none !important;
  }




::ng-deep app-header {
  display: none !important;
}
.table-responsive {
  margin-left: 10%;
}
button.btn.btn-dark {
  margin-bottom: -120%;
  margin-right: 32%;
}
::ng-deep app-footer {
  display: none !important;
}
