<header class="header-section">
  <div class="container-fluid">
    <div class="inner-header">
      <div class="row">
        <div class="col-lg-2 col-md-2">
          <div class="logo">
            <a routerLink="/"><img src="/assets/img/logo.png" alt="Logo" /></a>
          </div>
        </div>
        <div class="col-lg-10 col-md-12" style="margin-top: 40px;">
          <nav class="main-menu mobile-menu">
            <ul>
              <li><a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Home</a></li>
              <li><a routerLink="/classes" routerLinkActive="active">Classes</a></li>
              <li><a routerLink="/nutrition" routerLinkActive="active">Nutrition</a></li>
              <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
              <li><a routerLink="/gyms" routerLinkActive="active">Gyms</a></li>
              <li><a routerLink="/shop" routerLinkActive="active">Shop</a></li>
              <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
              <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
             
              <li class="cart-link"><a routerLink="/cart" routerLinkActive="active"><i class="fa fa-cart-shopping"></i></a> <span class="cart-page">{{cartService.getTotalItems()}}</span> </li>

              <li *ngIf="isLoggedIn"><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
              <li *ngIf="isLoggedIn"><a routerLink="/" (click)="onLogout()">Logout</a></li>

              <li *ngIf="!isLoggedIn"><a routerLink="/login" routerLinkActive="active">Login</a></li>

            </ul>
          </nav>
          <div id="mobile-menu-wrap"></div>
        </div>
      </div>
    </div>
  </div>
</header>
