<header class="header-section">
  <div class="container-fluid">
    <div class="inner-header">
      <div class="row">
        <div class="col-lg-2 col-md-2">
          <div class="logo">
            <a routerLink="/"><img src="/assets/img/logo.png" alt="Logo" /></a>
          </div>
        </div>
        <div class="col-lg-10 col-md-12">
          <nav class="main-menu mobile-menu">
            <ul>
              <li><a routerLink="/" routerLinkActive="active">Home</a></li>
              <li><a routerLink="/classes" routerLinkActive="active">Classes</a></li>
              <li><a routerLink="/nutrition" routerLinkActive="active">nutrition</a></li>
              <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
              <li><a routerLink="/Profile" routerLinkActive="active">Profile</a></li>
              <li><a routerLink="/Gyms" routerLinkActive="active">Gyms</a></li>
              <li><a routerLink="/store" routerLinkActive="active">store</a></li>
              <li><a routerLink="/Admin" routerLinkActive="active">Admin</a></li>
            

              <!-- Show Profile and Logout when the user is logged in -->
              <li *ngIf="isLoggedIn"><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
              <li *ngIf="isLoggedIn"><a (click)="onLogout()">Logout</a></li>

              <!-- Show Login when the user is not logged in -->
              <li *ngIf="!isLoggedIn"><a routerLink="/login" routerLinkActive="active">Login</a></li>
            </ul>
          </nav>
          <div id="mobile-menu-wrap"></div>
        </div>
      </div>
    </div>
  </div>
</header>
