<header class="header-section">
  <div class="container-fluid">
    <div class="inner-header">
      <div class="row">
        <div class="col-lg-2 col-md-2">
          <div class="logo">
            <a href="./index.html"><img src="img/logo.png" alt="" /></a>
          </div>
        </div>
        <div class="col-lg-10 col-md-10">
          <nav class="main-menu mobile-menu">
            <ul>
              <li><a class="active" href="./index.html">Home</a></li>
              <li><a href="./about-us.html">About us</a></li>
              <li><a href="./classes.html">Classes</a></li>
              <li><a href="./blog.html">Blog</a></li>
              <li><a href="./contact.html">Contact</a></li>
              <li class="phone-num">
                <i class="fa fa-phone"></i><span>+546 990221 123</span>
              </li>
              <li class="search-btn search-trigger">
                <i class="fa fa-search"></i>
              </li>
            </ul>
          </nav>
          <div id="mobile-menu-wrap"></div>
        </div>
      </div>
    </div>
  </div>
</header>
