<div class="col-sm-12 col-xl-6" style="margin-left: 25%">
  <div class="bg-light rounded h-100 p-4">
    <h2 class="mb-4 text-center custom-heading">Add New Class</h2>
    <form #addClass="ngForm" (ngSubmit)="addNewClass(addClass.value)" class="form-table">
      <table class="table table-bordered">
        <tr>
          <td><label for="className">Name:</label></td>
          <td><input type="text" class="form-control" id="className" name="name" required ngModel></td>
        </tr>
        <tr>
          <td><label for="classDescription">Description:</label></td>
          <td><input class="form-control" id="classDescription" name="description" required ngModel></td>
        </tr>
        <tr>
          <td><label for="classPrice">Price:</label></td>
          <td><input type="number" class="form-control" id="classPrice" name="pricePerMonth" required ngModel></td>
        </tr>
     
        <tr>
          <td><label for="classImagePath">Upload Image:</label></td>
          <td><input accept="image/*" type="file" class="form-control" id="classImagePath" name="imagePath" required ngModel (change)="changeImage($event)"></td>
        </tr>
      </table>

      <div class="text-center">
        <button type="submit" class="btn btn-dark">Create</button>
      </div>
    </form>
  </div>
</div>
<app-admin></app-admin>
