<div class="container mt-4">
  <h2 class="text-center mb-4">List of Instructors</h2>

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <!--<th>Image</th>-->
        <th>Category Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }} JOD</td>
        <td>{{ product.description }}</td>
        <td>{{ product.categoryName }}</td>
        <td>
          <button class="btn btn-warning btn-sm" (click)="editProduct(product.id)">Edit</button>
          <button class="btn btn-danger btn-sm" (click)="deleteProduct(product.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center mt-4">
    <button class="btn btn-primary" routerLink="/admin/products">Add Product</button>
  </div>

  <app-edit-product *ngIf="selectedProduct"
                    [product]="selectedProduct"
                    (close)="closeModal()">
  </app-edit-product>
</div>
<app-admin></app-admin>
