<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container mt-4">
  <h2 style="margin-left:12%">Class Schedules</h2>
  <table class="table table-bordered" style="margin-left:12%">
    <thead>
      <tr>
        <th>Available Day</th>
        <th>Class Name</th>
        <th>Instructor Name</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let schedule of schedules">
        <td>{{ schedule.availableDay }}</td>
        <td>{{ schedule.className }}</td>
        <td>{{ schedule.instructorName }}</td>
        <td>{{ schedule.startTime }}</td>
        <td>{{ schedule.endTime }}</td>
        <td>



          <button type="button" class="btn btn-info" (click)="viewDetails(schedule.id)">Details</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-admin></app-admin>
