<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<div class="container mt-4" style="margin-left:17%">
  <h2 class="text-center">Class Schedules</h2>

  <!-- Button to navigate to Post Schedule -->
  <div class="text-center mb-3">
    <a routerLink="/AddScedule" class="btn btn-dark rounded-pill shadow-sm"style="margin-left:60%">Add New Schedule</a>
  </div>

  <div *ngIf="schedules.length > 0; else noData" class="d-flex justify-content-center" style="margin-left:10%">
    <div class="table-responsive" style="max-width: 80%;">
      <div class="bg- rounded h-100 p-4">
        <table class="table table-dark">
          <thead>
            <tr>
              <th scope="col">Available Day</th>
              <th scope="col">Class Name</th>
              <th scope="col">Instructor Name</th>
              <th scope="col">Start Time</th>
              <th scope="col">End Time</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let schedule of schedules"  class="bg-light" style="color:black;">
              <td class="bg-light" style="color:black;">{{ schedule.availableDay }}</td>
              <td  class="bg-light" style="color:black;">{{ schedule.className }}</td>
              <td  class="bg-light" style="color:black;">{{ schedule.instructorName }}</td>
              <td  class="bg-light" style="color:black;">{{ schedule.startTime }}</td>
              <td  class="bg-light" style="color:black;">{{ schedule.endTime }}</td>
              <td  class="bg-light" style="color:black;">
                <button type="button" class="btn btn-info btn-warning" (click)="viewDetails(schedule.id)">Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ng-template #noData>
    <p class="text-center">No class schedules available at the moment.</p>
  </ng-template>

</div>

<app-admin></app-admin>
