app-header {
  display: none !important;
}

  app-header header,
  app-header header .container-fluid,
  app-header header .inner-header,
  app-header header .row {
    display: none !important;
  }
::ng-deep app-header {
  display: none !important;
}
.sidebar-submenu {
  display: none; /* Hide all submenus by default */
}

  .sidebar-submenu.active {
    display: block; /* Show the submenu when it's active */
  }
::ng-deep app-footer {
  display: none !important;
}
