<!-- Hero Section Begin -->
<div
  class="hero-section set-bg"
  [style.backgroundImage]="'url(/assets/img/blog-bg.jpg)'"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="hero-text">
          <h1>Blog</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Section End -->
<!-- Blog Section Begin -->
<section class="blog-section spad">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-blog-item plain-text">
          <div class="blog-text">
            <h2>“Pain is temporary.<br />Quitting lasts <br />forever.”</h2>
            <span>Lance Armstrong</span>
          </div>
          <div class="blog-widget">
            <ul>
              <li><img src="/assets/img/like.png" alt="" /> <span>15 Likes</span></li>
              <li><img src="/assets/img/chat.png" alt="" /> <span>3 Comments</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-blog-item blog-item">
          <div class="blog-img">
            <img src="/assets/img/blog/blog-1.jpg" alt="" />
          </div>
          <div class="blog-text">
            <span class="blog-time">12 Feb, 2019</span>
            <h3>Tips for a six-pack</h3>
            <p>
              In viverra urna in orci imperdiet, aliquam suscipit risus
              consequat. Sed auctor, urna ac convallis laoreet, diam nibh
              dignissim ante, ac finibus.
            </p>
            <div class="blog-widget">
              <ul>
                <li><img src="/assets/img/like.png" alt="" /> <span>15 Likes</span></li>
                <li>
                  <img src="/assets/img/chat.png" alt="" /> <span>3 Comments</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-blog-item blog-item">
          <div class="blog-img">
            <img src="/assets/img/blog/blog-2.jpg" alt="" />
          </div>
          <div class="blog-text">
            <span class="blog-time">12 Feb, 2019</span>
            <h3>Train hard for a better life</h3>
            <p>
              In viverra urna in orci imperdiet, aliquam suscipit risus
              consequat. Sed auctor, urna ac convallis laoreet, diam nibh
              dignissim ante, ac finibus.
            </p>
            <div class="blog-widget">
              <ul>
                <li><img src="/assets/img/like.png" alt="" /> <span>15 Likes</span></li>
                <li>
                  <img src="/assets/img/chat.png" alt="" /> <span>3 Comments</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-blog-item blog-item">
          <div class="blog-img">
            <img src="/assets/img/blog/blog-3.jpg" alt="" />
          </div>
          <div class="blog-text">
            <span class="blog-time">12 Feb, 2019</span>
            <h3>20 Min Workout</h3>
            <p>
              In viverra urna in orci imperdiet, aliquam suscipit risus
              consequat. Sed auctor, urna ac convallis laoreet, diam nibh
              dignissim ante, ac finibus.
            </p>
            <div class="blog-widget">
              <ul>
                <li><img src="/assets/img/like.png" alt="" /> <span>15 Likes</span></li>
                <li>
                  <img src="/assets/img/chat.png" alt="" /> <span>3 Comments</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-blog-item blog-item">
          <div class="blog-img">
            <img src="/assets/img/blog/blog-4.jpg" alt="" />
          </div>
          <div class="blog-text">
            <span class="blog-time">12 Feb, 2019</span>
            <h3>20 Min Workout</h3>
            <p>
              In viverra urna in orci imperdiet, aliquam suscipit risus
              consequat. Sed auctor, urna ac convallis laoreet, diam nibh
              dignissim ante, ac finibus.
            </p>
            <div class="blog-widget">
              <ul>
                <li><img src="/assets/img/like.png" alt="" /> <span>15 Likes</span></li>
                <li>
                  <img src="/assets/img/chat.png" alt="" /> <span>3 Comments</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-blog-item blog-video">
          <div class="blog-img">
            <img src="/assets/img/blog/blog-video.jpg" alt="" />
            <div class="play-btn">
              <a
                href="https://www.youtube.com/watch?v=hGsVLXnFgbA"
                class="pop-up"
                ><i class="fa fa-play"></i
              ></a>
            </div>
          </div>
          <div class="blog-text">
            <h3>10 Minutes Crossfit</h3>
            <div class="blog-widget">
              <ul>
                <li><img src="/assets/img/like.png" alt="" /> <span>15 Likes</span></li>
                <li>
                  <img src="/assets/img/chat.png" alt="" /> <span>3 Comments</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-blog-item blog-item">
          <div class="blog-img">
            <img src="/assets/img/blog/blog-5.jpg" alt="" />
          </div>
          <div class="blog-text">
            <span class="blog-time">12 Feb, 2019</span>
            <h3>Crossfit Secrets</h3>
            <p>
              In viverra urna in orci imperdiet, aliquam suscipit risus
              consequat. Sed auctor, urna ac convallis laoreet, diam nibh
              dignissim ante, ac finibus.
            </p>
            <div class="blog-widget">
              <ul>
                <li><img src="/assets/img/like.png" alt="" /> <span>15 Likes</span></li>
                <li>
                  <img src="/assets/img/chat.png" alt="" /> <span>3 Comments</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-blog-item blog-item">
          <div class="blog-img">
            <img src="/assets/img/blog/blog-6.jpg" alt="" />
          </div>
          <div class="blog-text">
            <span class="blog-time">12 Feb, 2019</span>
            <h3>20 Min Abs Workout</h3>
            <p>
              In viverra urna in orci imperdiet, aliquam suscipit risus
              consequat. Sed auctor, urna ac convallis laoreet, diam nibh
              dignissim ante, ac finibus.
            </p>
            <div class="blog-widget">
              <ul>
                <li><img src="/assets/img/like.png" alt="" /> <span>15 Likes</span></li>
                <li>
                  <img src="/assets/img/chat.png" alt="" /> <span>3 Comments</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 text-center">
        <div class="blog-btn">
          '
          <a href="#" class="primary-btn">Load More</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Blog Section End -->
<!-- Call To Section Begin -->
<section class="callto-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="callto-text">
          <h2>Come & Train With Us</h2>
          <p>
            Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="primary-btn callto-btn">Join Now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call To Section End -->
<!-- Map Section Begin -->
<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24182.553681405774!2d-73.99529774360377!3d40.744003480221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259737e225aa1%3A0x652ff78189c0e104!2sStuyvesant%20Town-Peter%20Cooper%20Village%2C%20New%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1567961277124!5m2!1sen!2sbd"
    height="585"
    style="border: 0"
    allowfullscreen
  ></iframe>
  <div class="map-address">
    <div class="map-address-text">
      <ul>
        <li>Main Str, no 23, <br />NY, New York PK 23589</li>
        <li>+546 990221 123 <br />contact&#64;industryalinc.com</li>
      </ul>
    </div>
  </div>
</div>
<!-- Map Section End -->
