
  <!-- Page Preloder -->
  <div id="preloder">
    <div class="loader"></div>
  </div>
  <!-- Header Section Begin -->
  
  <!-- Header End -->
  <!-- Hero Section Begin -->
  <div class="hero-slider">
    <div class="hero-items owl-carousel">
      <div class="single-hero-item set-bg" data-setbg="img/slide-1.jpg">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="hero-text">
                <h1>What is Crossfit?</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                  gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
                <a href="#" class="primary-btn">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-hero-item set-bg" data-setbg="img/slide-2.jpg">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="hero-text">
                <h1>What is Crossfit?</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                  gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
                <a href="#" class="primary-btn">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-hero-item set-bg" data-setbg="img/slide-3.jpg">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="hero-text">
                <h1>What is Crossfit?</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                  incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices
                  gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
                <a href="#" class="primary-btn">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Hero Section End -->
  <!-- Class Booking Section Begin -->
  <div class="booking-classes">
    <div class="container-fluid">
      <div class="booking-text">
        <div class="row">
          <div class="col-lg-6">
            <div class="row">
              <div class="col-lg-12">
                <div class="booking-heading set-bg" data-setbg="img/booking.jpg">
                  <div class="booking-inner-text">
                    <h2>Book Your First Class</h2>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                      tempor incididunt ut labore.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="booking-form">
              <form action="#">
                <div class="row">
                  <div class="col-lg-6">
                    <input type="text" placeholder="Your Name">
                    <input type="text" placeholder="Your Phone">
                  </div>
                  <div class="col-lg-6">
                    <input type="email" placeholder="E-mail Address">
                    <input type="submit" value="Submit" class="submit-btn">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Class Booking Section End -->
  <!-- Services Section Begin -->
  <section class="services-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 m-auto text-center">
          <div class="section-title">
            <h2>Join Our Gym Today</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
              labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
              viverra maecenas accumsan lacus vel facilisis.
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="single-services">
            <i class="flaticon-050-weightlifting"></i>
            <h4>Crossfit</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-services">
            <i class="flaticon-004-dumbbell"></i>
            <h4>Fitness</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-services">
            <i class="flaticon-045-fitness"></i>
            <h4>Climbing</h4>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-services">
            <i class="flaticon-033-pump"></i>
            <h4>Cardio + Streching</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Services Section End -->
  <!-- Client Says Section Begin -->
  <section class="client-says set-bg" data-setbg="img/client-bg.jpg">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="client-text">
            <h2>
              “During the hard times, it’s important to focus on the things you can change in that moment
              instead of what you should have or could have done differently.”
            </h2>
            <h4>Annie Thorisdottir,<span>Crossfit athlete</span></h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Client Says Section End -->
  <!-- Lifestyles Section Begin -->
  <section class="lifestyle-section spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="lifestyle-text">
            <div class="section-title">
              <h2>Lifestyle & Diet</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo
                viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
                ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel
                facilisis.
              </p>
              <a href="#" class="primary-btn">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="lifestyle-img">
            <img src="img/lifestyle.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Lifestyles Section End -->
  <!-- Boxes Section Begin -->
  <div class="boxes-section">
    <div class="container-fluid">
      <div class="boxes-img">
        <div class="row">
          <div class="col-lg-4">
            <div class="boxes-item">
              <div class="boxes-pic">
                <img src="img/box-1.jpg" alt="">
                <div class="boxes-text">
                  <h1>Crossfit</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="boxes-item">
              <div class="boxes-pic">
                <img src="img/box-2.jpg" alt="">
                <div class="boxes-text">
                  <h1>WOD</h1>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="boxes-item">
              <div class="boxes-pic">
                <img src="img/box-3.jpg" alt="">
                <div class="boxes-text">
                  <h1>Kids & Teens</h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Boxes Section End -->
  <!-- Call To Section Begin -->
  <section class="callto-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <div class="callto-text">
            <h2>Come & Train With Us</h2>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <a href="#" class="primary-btn callto-btn">Join Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Call To Section End -->
  <!-- Map Section Begin -->
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24182.553681405774!2d-73.99529774360377!3d40.744003480221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259737e225aa1%3A0x652ff78189c0e104!2sStuyvesant%20Town-Peter%20Cooper%20Village%2C%20New%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1567961277124!5m2!1sen!2sbd"
            height="585" style="border:0" allowfullscreen></iframe>
    <div class="map-address">
      <div class="map-address-text">
        <ul>
          <li>Main Str, no 23, <br />NY, New York PK 23589</li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Map Section End -->
  
