<!-- Hero Section Begin -->
<div class="hero-section set-bg" [style.backgroundImage]="'url(/assets/img/contact-bg.jpg)'">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="hero-text">
          <h1>Contact</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Section End -->
<!-- Contact Section Begin -->
<section class="contact-section spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="contact-text">
          <div class="section-title">
            <h2>Get in touch</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
              ipsum suspendisse ultrices gravida. Risus commodo viverra
              maecenas.
            </p>
          </div>
          <div class="contact-widget">
            <ul>
              <li>Main Str, no 23, <br />NY, New York PK 23589</li>
              <li>+546 990221 123 <br />contact&#64;industryalinc.com</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <form action="#" class="contact-form">
          <div class="row">
            <div class="col-lg-6">
              <input type="text" placeholder="Your Name" />
            </div>
            <div class="col-lg-6">
              <input type="email" placeholder="Your E-mail" />
            </div>
            <div class="col-lg-12">
              <input type="text" placeholder="Subject" />
              <textarea placeholder="Message"></textarea>
              <input
                type="submit"
                class="submit-btn contact-btn"
                value="Send"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Contact Section End -->
<!-- Map Section Begin -->
<div class="map">
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24182.553681405774!2d-73.99529774360377!3d40.744003480221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259737e225aa1%3A0x652ff78189c0e104!2sStuyvesant%20Town-Peter%20Cooper%20Village%2C%20New%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1567961277124!5m2!1sen!2sbd"
    height="585"
    style="border: 0"
    allowfullscreen
  ></iframe>
  <div class="map-address">
    <div class="map-address-text">
      <ul>
        <li>Main Str, no 23, <br />NY, New York PK 23589</li>
        <li>+546 990221 123 <br />contact industryalinc.com</li>
      </ul>
    </div>
  </div>
</div>
<!-- Map Section End -->
