<!-- Hero Section Begin -->
<div class="hero-section set-bg" [style.backgroundImage]="'url(/assets/img/Vary-your-cardio-1.jpg)'">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="hero-text" style="position: absolute; top: 50%; left: 50%; transform: translate(-60%, -87%); color: white; font-size:20px">
          <h2 style="color: white; font-size: 50px;">Classes</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Hero Section End -->
<!-- Classes Section Begin -->
<div class="classes-section spad">
  <div class="container">
    <div class="search-container">
      <input type="text"
             placeholder="Search for classes..."
             [(ngModel)]="searchTerm"
             (input)="onSearch()"
             class="search-input" />
      <button (click)="onSearch()" class="search-button">Search</button>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let classItem of filteredClasses">
        <div class="single-classes-item" (click)="goToClassDetails(classItem.id)">
          <img [src]="'https://localhost:44325/api/Classes/getImages/' + classItem.imagePath"
               alt="{{ classItem.name }}"
               class="class-image" />
          <h4>{{ classItem.name }}</h4>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Classes Section End -->
<!-- Classes Time Section End -->

<div class="classes-time-section spad set-bg"
     [style.backgroundImage]="'url(/assets/img/classes-time-bg.jpg)'">
  <div class="container">
    <div class="row">
      <!-- Loop through each day and its associated classes -->
      <div class="col" *ngFor="let day of daysOfWeek">
        <div class="daily-routine">
          <div class="week-name">{{ day }}</div>
          <div class="daily-work">
            <!-- Loop through the classes for the current day -->
            <div class="work-hours bg-color" *ngFor="let class of getClassesForDay(day)">
              <ul>
                <li>{{ class.name }}</li> <!-- عرض اسم الكلاس -->
                <li>{{ class.startTime | date:'hh:mm a' }} - {{ class.endTime | date:'hh:mm a' }}</li> <!-- عرض وقت البداية والنهاية -->
              </ul>
            </div>
            <!-- Empty divs for empty slots -->
            <div class="work-hours" *ngFor="let i of createEmptySlots(day)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Classes Time Section End -->
<!-- Map Section End -->
