.hero-section {
  position: relative;
  height: 400px; /* يمكن تعديل الارتفاع حسب الحاجة */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.hero-text {
  transform: translate(-60%, -87%);
  color: #fff; /* جعل النص أبيض */
  text-align: center;
  font-size: 3rem; /* حجم الخط */
  font-weight: bold;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); /* إضافة ظل للنص لجعله بارزًا على الخلفية */
}

.set-bg {
  background-size: cover;
  background-position: center;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* مسافة أسفل الـ search */
}

.search-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd; /* لون الحدود */
  border-radius: 25px; /* جعل الحواف دائرية */
  outline: none; /* إزالة الإطار الخارجي عند التحديد */
  width: 300px; /* عرض حقل الإدخال */
  transition: box-shadow 0.3s; /* تأثير الانتقال عند التركيز */
}

  .search-input:focus {
    box-shadow: 0 0 8px rgba(130, 208, 38, 0.8); /* تأثير ضوء عند التركيز */
  }

.search-button {
  background-color: #82D026; /* لون الخلفية */
  color: white; /* لون النص */
  border: none; /* إزالة الحدود */
  padding: 10px 20px; /* حواف داخلية */
  font-size: 1rem; /* حجم الخط */
  border-radius: 25px; /* جعل الحواف دائرية */
  margin-left: 10px; /* مسافة بين الـ input والزر */
  cursor: pointer; /* مؤشر اليد عند التمرير */
  transition: background-color 0.3s; /* تأثير الانتقال عند التمرير */
}

  .search-button:hover {
    background-color: #6EB522; /* تغيير لون الخلفية عند التمرير */
  }

