<div class="col-10" style="margin-left:17%">
  <div class="bg-  rounded h-100 p-4">
    <h6 class="mb-4">Classes</h6>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Class Name</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">Price</th>
            <th scope="col"> Day</th>
            <th scope="col">Start </th>
            <th scope="col">End </th>
            <th scope="col">Instructor </th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let classItem of classes">
            <td>{{ classItem.id }}</td>
            <td>{{ classItem.name }}</td>
            <td>{{ classItem.description }}</td>
            <td><img [src]="classItem.imagePath" alt="{{ classItem.name }}" width="50"></td>
            <td>{{ classItem.pricePerMonth }}</td>
            <td>{{ classItem.availableDay }}</td>
            <td>{{ classItem.startTime }}</td>
            <td>{{ classItem.endTime }}</td>
            <td>{{ classItem.instructorName }}</td>
            <td>
              <a class="btn btn-info" [routerLink]="['/admin/edit-class', classItem.id]">Edit</a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
<app-admin></app-admin>
