<div class="container">
  <div class="row">
    @for (product of products; track product.id) {

    <div class="col-md-4">
      <div class="card mb-4" style="width: 18rem">
        <img [src]="product.image1" class="card-img-top" alt="Product Image" />
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">
            Price: ${{ product.price }}<br />
            Discount: ${{ product.discount }}<br />
            <small class="text-muted">{{ product.description }}</small>
          </p>
          <div class="d-flex justify-content-between">
            <button class="btn btn-primary" (click)="addToCart(product)">
              Add to Cart
            </button>
            <button class="btn btn-secondary" (click)="showDetails(product)">
              Show Details
            </button>
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
